.hero {
  max-height: 50vh;
}

.hero h1 {
  font-size: 4rem;
}

.info .info-text h1 {
  font-size: 2rem;
}

.facilities .facilities-header {
  font-size: 2rem;
}

.facilities .facilities-content .box {
  margin: 5px;
}

.digital-services .info .info-text h1 {
font-size: 2.3rem;
}

.digital-services .info .info-text p {
  font-size: 1.4rem;
}

.digital-services .services-listing {
  font-size: 1.4rem;
}

.reviews .review-head {
  font-size: 2.5rem;
}